<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schemat Podatkowy</title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet"> 

    <link href="../static/css/tailwind.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
</head>
<body class="font-Raleway bg-[#FEFEFE]">
    {% block alert %}
       
    {% endblock %}

    <div class="flex flex-col items-center justify-start py-[5vh] lg:px-[20vw] px-[5vw] min-h-[90vh] text-[#424242]">        
        {% block content %}

        {% endblock %}
    </div>

    <div class="h-[10vh] border-t-2 border-[#D6D6D6] flex items-center justify-start font-semibold">
        <div class="lg:w-1/3 w-1/2 lg:px-20 px-0 text-xl">2023® All Rights Reserved</div>
        <div class="lg:w-1/3 w-1/2 text-center text-2xl">CTF Lease</div>
        <div class="lg:w-1/3 w-0"></div>
    </div>
</body>
</html>